    /* CSS BY Tracy Christenson */
    /* IMPORTED FONTS */
    /* CSS REST */
    /* ROOT VARIABLES */
    /*  GLOBAL STYLES*/
    
    body {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        background: lightblue;
    }
    
    h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: blue;
        text-align: center;
    }
    
    main {
        width: 90%;
        padding: 50px;
        margin: auto;
        background: white;
    }
    
    h2 {
        text-align: center;
    }
    
    nav ul {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        background: blue;
    }
    
    nav ul li {
        display: inline;
        text-decoration: none;
        text-align: center;
        margin: 10px;
        padding: 10px 20px;
        border: 1px solid black;
        background: #ffff99;
    }
    
    span {
        font-weight: bold;
        color: red;
    }
    
    footer {
        font-size: 0.9em;
        color: gray;
        text-align: center;
        background: white;
        padding: 50px;
        width: 90%;
        margin: auto;
    }
    /* MEDIA QUERY (medium) */
    /* MEDIA QUERY (large) */
    /* MEDIA QUERY (xl) */