    /* CSS BY Tracy Christenson */
    /* IMPORTED FONTS */
    /* CSS REST */
    /* ROOT VARIABLES */
    /*  GLOBAL STYLES*/
    
    body {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
    }
    
    h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: blue;
        text-align: center;
    }
    
    h2 {
        text-align: center;
    }
    
    nav ul li {
        display: inline;
        text-decoration: none;
        text-align: center;
        padding: 20px;
        border: 1px black;
        background: yellow;
    }
    
    span {
        font-weight: bold;
        color: red;
    }
    
    footer {
        font-size: 0.9em;
        color: gray;
        text-align: center;
    }
    /* MEDIA QUERY (medium) */
    /* MEDIA QUERY (large) */
    /* MEDIA QUERY (xl) */